.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
}
.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 330px;
  width: 300px;
  background-color: #272727;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #272727;
}
.img111 {
  height: 40px;
  width: 180px;
  margin: 10px;
}
.label1 {
  color: white;
  font-size: 10x;
  font-weight: bold;
}
.input1 {
  height: 25px;
  margin-bottom: 16px;
  width: 200px;
  margin-top: 5px;
  border-radius: 8px;
  border-width: 0px;
}
.btn1 {
  height: 34px;
  width: 150px;
  border-radius: 10px;
  border-width: 0px;
}
ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}
li {
  list-style-type: none;
}
